<!--  card -->
<div class="card mb-3 col-lg-5 col-md-12 mx-sm-auto m-lg-2 rounded p-0">
  <div class="row g-0 card-container p-4">
    <div class="col-md-4 cover-container">
      <img src="book.jpg" class="img-fluid rounded mx-sm-auto cover" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-center">O nome do vento</h5>
        <p class="card-text text-center"><small class="text-muted">Aventura</small></p>
        <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        

      <div class="text-center">
        <a href="#" class="btn btn-warning">Editar</a>
        <a href="#" class="btn btn-danger">Deletar</a>
      </div>
      </div>
    </div>
  </div>
</div>
