<div class="row g-0 card-container p-2 py-4">
  <!-- book img -->
  <div class="col-md-4 d-flex justify-content-center align-items-center">
    <img [src]="book.imgPath" class="img-fluid rounded mx-sm-auto cover d-block" [alt]="book.title">
  </div>
  
  <!-- book infos -->
  <div class="col-md-8">
    <div class="card-body d-flex flex-column justify-content-between" style="height: 100%;">
      <div>
        <h5 class="card-title text-center">{{ book.title }}</h5>
        <p class="card-text text-center mb-4"><small class="text-muted">{{ book.author }}</small></p>
        <p class="card-text p-1 book-description mb-4">{{ book.description }}</p>
      </div>
        
      <!-- edit/delete buttons -->
      <div class="text-center">
        <a [routerLink]="['/update/' + book.id]" class="btn btn-warning m-1">Editar</a>
        <button type="button" class="btn btn-danger" (click)="onDelete(book)">Deletar</button>
      </div>
    </div>
  </div>
</div>


