<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Bookshelf</a>
    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [isAnimated]="true" [collapse]="isCollapsed" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item m-1">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link" routerLink="/new" routerLinkActive="active">Novo Livro</a>
        </li>
      </ul>
      <form class="d-flex">
        <input #search (keyup)="searchByTitle(search.value)" class="form-control me-2 rounded" type="search" placeholder="Search" aria-label="Search">
        
      </form>
    </div>
  </div>
</nav>
