<section class="container-fluid bg-dark">
  <div class="row p-4 justify-content-center">    
    <!-- book cards -->
    <app-book 
      *ngFor="let book of books" 
      [book]="book"
      class="card mb-3 col-lg-5 col-md-12 mx-sm-auto m-lg-2 rounded p-0"
      (deleteEvent)="deleteBook($event, deleteModal)"
      ></app-book>
    
    <!-- if no books -->
    <app-empty-bookshelf *ngIf="books.length === 0"></app-empty-bookshelf>
  </div>
</section>

<!-- delete Modal -->
<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Deletar Livro: {{ bookToDelete.title }}  ?</p>
    <button type="button" class="btn btn-danger m-1" (click)="confirmDelete()">Deletar</button>
    <button type="button" class="btn btn-default m-1" (click)="declineDelete()">Cancelar</button>
  </div>
</ng-template>