<div class="container">	
	<form ngNativeValidate #f="ngForm" (ngSubmit)="onSubmit(f)" class="p-4 bg-white mx-auto display-block my-4 rounded">
	  <div class="row p-4 justify-content-around">

	  	<!-- form inputs -->
	  	<div class="col-lg-5">
	  		<h2 class="mb-4">Novo Livro: </h2>
	  		<div class="mb-3">
		    	<label for="title" class="form-label">Título: </label>
		    	<input #title [(ngModel)]="book.title" type="text" class="form-control" name="title" required />
					{{ addValidateClass(title) }}
				</div>

				<div class="mb-3">
					<label for="author" class="form-label">Autor: </label>
					<input #author [(ngModel)]="book.author" type="text" class="form-control" name="author" required />
					{{ addValidateClass(author) }}
				</div>

				<div class="mb-3">
					<label for="description" class="form-label">Descrição: </label>
					<textarea #description [(ngModel)]="book.description" class="form-control" name="description" required></textarea>
					{{ addValidateClass(description) }}
				</div>

				<div class="mb-3">
					<label for="img" class="form-label">Escolha uma capa: </label>
					<input #img  (change)="onFileChange($event)" class="form-control" type="file" name="img" accept="image/png, image/jpeg">
				</div>
				
				<button type="submit" class="btn btn-success">Salvar</button>
	  	</div>

			<!-- img preview -->
			<div class="card col-lg-5 p-4 rounded">
				<div class="card-body">
					Capa selecionada: 
				</div>
				<img [src]="imgPreview" class="card-img-bottom">				
			</div>

	  </div>
	</form>	
</div>